.container {
    max-width: 900px;
    margin: 4rem auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        color: var(--white);
    }
}


.containerHead {
    align-items: center;
    justify-content: space-between;
    display: flex;

    svg {
        color: var(--green-700);
        margin-bottom: 0.5rem;
    }
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 1rem;
        margin-top: 0.5rem;
    }

    select {
        width: 300px;
        height: 40px;
        border-radius: 0.5rem;
        color: var(--white);
        background-color: var(--dark-900);
        border: 1px solid var(--gray-100);
        padding: 0 0.7rem;
    }
}

.table {
    overflow-y: scroll;
    width: 100%;
    height: auto;
    max-height: 450px;
    background-color: var(--dark-900);
    padding-left: 0.3rem;
    margin-top: 2rem;
    border-radius: 0.5rem;

    table {
        thead {
            color: var(--white);
            font-size: 1.2rem;
        }

        thead:before {
            content: "@";
            display: block;
            line-height: 1rem;
            text-indent: -99999px;
        }

        tbody {
            color: var(--gray-100);
            font-size: 1.1rem;
        }

        tbody:before {
            content: "@";
            display: block;
            line-height: 1rem;
            text-indent: -99999px;
        }
    }
}

.headNomeDescrição {
    text-align: left;
    padding-left: 1rem;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
}

.nameDescription {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    word-break: break-all;
    width: 490px;

    span {
        padding: 0.5rem 0;
    }

    .name {
        color: var(--white);
        font-size: 1.5rem;
    }
}

.price {
    color: var(--white);
    width: 100px;
    text-align: center;
}

.acao {
    padding-bottom: 1rem;
}

.button {
    background: transparent;
    border: 0;
    padding: 1rem 0 0 0.5rem;
    margin-right: 1rem;
}

.total {
    color: var(--white);
    padding-top: 1rem;
    font-size: 1.2rem;
}

.emptyList {
    padding-top: 3rem;
    font-size: 1.2rem;
    color: var(--gray-100);
}